# Dependencies
node_modules/

# Next.js
.next/
out/
.vercel/

# Netlify
.netlify/

# Env
.env
.env.*.local
.env.local
.env.production

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
